---
import H1 from '../components/H1.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
export const prerender = true
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Main>
		<H1 text='Rhythm Nation'>
	</Main>
</Layout>
